*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;


}
/* NAVBAR */
.navbar{
    width: 100%;
    height: 95px;
    /* background-color: aqua; */
    position: sticky;
    top: 0;
    
    
}
/* .nav-top{
    width: 100%;
    height: 15px;
    background-color: #703B3B;
} */
.nav-down{
    width: 100%;
    height: 95px;
    background-color:#9C1137;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    /* padding-bottom: 15px; */
    box-shadow: 0 0px 10px 1px rgba(14, 13, 13, 0.3);
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
}
.logo .link2{
    font-size: 27px;
    font-weight: 400;
    margin-left: 10px;
    color: white;
}
.link a{
    font-size: 17px;
    font-weight: 400;
    margin: 0 15px;
    color: white;
}
.link a:hover{
    color:#B87C4C;
}
.cart i {
   font-size: 20px;
   color: white;
   cursor: pointer;
}
.cart i:hover{
    color: #B87C4C;
}
/* HERO */
.Hero{
    background-image: url(HeroMain.png);
    width: 100%;
    height: 545px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Hero p{
    font-size: 90px;
    font-family: "Dancing Script", cursive;
    color: white;
}
.Hero button{
    width: 175px;
    height: 50px;
    outline: none;
    border: none;
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    /* font-family: "Dancing Script", cursive; */
    color: white;
    font-size: 22px;
    margin-top: 25px;
    cursor: pointer;
}
.Hero button:hover{
    background-color:rgba(255, 255, 255, 0.7);
    color: #9C1137;

}
/* MAIN  */
.about{
    width: 100%;
    height: 375px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) ,#F0E4D3);
    display: flex;
    justify-content: space-between;
    
    padding: 35px 55px;
}
.about-left{
    width: 55%;
    height: 425px;
    /* background-color: white; */
}
.about-left h1{
    color: #9e2142;
    font-size: 55px;
    text-align: center;
}
.about-right .box{
    width: 630px;
    height: 85px;
    background-color: white;
    border-radius: 8px;
    margin: 15px 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.box img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.box p{
    color: #9C1137;
    font-size: 20px;
    font-weight:400;
    margin-left: 15px;
}
/* CARD  */
.card_all{
    width: 100%;
    height: 600px;
    /* background-color: #B87C4C; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_all-up{
    color: #9C1137;
    font-size: 55px;
    font-weight: 500;
    margin: 18px 0 ;
}
.card_all-down{
    display: flex;
    justify-content: center;
}
.card{
    width: 400px;
    height: 470px;
    margin: 0 20px;
    background-color:rgba(196, 63, 63, 0.1);
    border-radius: 15px;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);

}
.card img{
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0 ;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);

}
.card h2, p {
    margin: 0 20px;
}
.add{
    width: 100%;
    height: 10%;
    background-color: #9C1137;
    opacity: 0.9;
    border-radius: 0 0 15px 15px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 20px ;

}
.add:hover{
    opacity: 1;
}
/* FOOTER  */
.footer{
    width: 100%;
    height: 250px;
    background-color: rgb(27, 26, 26);
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    padding: 0 95px;
    padding-top: 30px;
}
.menu-bar{
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.menu-bar p{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.menu-bar a{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
}
.menu-bar a:hover{
    text-decoration: underline;
}
.email-bar{
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 15px;
}
.email-bar input{
    width: 280px;
    height: 35px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #9C1137;
    outline: none;
    color: white;
    border-radius: 5px;
}
.email-bar i{
    font-size: 20px;
    
}
.media i{
    font-size: 35px;
}
.footer2{
    width: 100%;
    height: 80px;
    background-color: rgb(27, 26, 26);
    
}
.address a p {
    text-align: center;
    font-size: 13px;
    color: white;
}
.address a p:hover{
    text-decoration: underline;
}

